<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="common :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="common :: header"></th:block> /*/-->
<div class="container">

    <div class="panel panel-default">

        <div class="panel-heading">
            <h1 class="panel-title text-uppercase">
                <span class="pHeader"></span> Книги
                <a th:href="${'/book'}" class="btn btn-primary btn-xs pull-right" style="color: white">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить
                </a>
            </h1>
        </div>

        <div class="panel-body">

            <!-- Book table -->
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Автор</th>
                    <th>Издательство</th>
                    <th>Год издания</th>
                    <th>Кол-во страниц</th>
                    <th>Стоимость</th>
                </tr>
                </thead>
                <tr
                        th:class = "anyClass"
                        th:each= "book : ${books}"
                        th:data-url="@{/book/{id}(id=${book.id})}"
                        onclick="window.open(this.getAttribute('data-url'), '_self')"
                >

                    <td data-label="Name" th:text="${book.name}">Наименование</td>
                    <td data-label="Author" th:text="${book.author}">Автор</td>
                    <td data-label="Publishing" th:text="${book.publishing}">Издательство</td>
                    <td data-label="Year" th:text="${book.year}">Год издания</td>
                    <td data-label="Year" th:text="${book.pages}">Кол-во страниц</td>
                    <td data-label="Cost" th:text="${book.cost}">Стоимость</td>
                </tr>
            </table>

            <!-- Pagination-->
            <nav>
                <ul class="pagination pagination-sm">
                    <!-- <li th:each="i : ${#numbers.sequence(0, (totalPages > 0) ? totalPages-1 : 0)}" -->
                    <li th:each="i : ${#numbers.sequence(0, (totalPages > 0) ? totalPages - 1 : 0)}"
                        th:class="${(current == i)}? 'active'" th:classappend="${totalPages lt 2}? 'hidden'">
                    </li>
                </ul>
            </nav>
        </div>

        <!-- Search -->
        <div class="panel-footer">
            <form action="/" method="get">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="input-group input-group-sm">

                            <span class="input-group-addon" id="sizing-addon3">
                                <span class="glyphicon glyphicon-search"></span>
                            </span>
                            <input th:value="${query}" id="query" name="q" type="text" class="form-control" aria-describedby="sizing-addon3"
                                   placeholder="Введите строку поиска и нажмите 'Enter'"/>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <button type="submit" class="btn btn-primary btn-sm">Поиск (Enter)</button>
                        <a href="/" class="btn btn-default btn-sm">Отмена</a>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>
<!--/*/ <th:block th:include="common :: footer"></th:block> /*/-->
</body>
</html>